<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="debugFile" fileName="debug.txt"
						layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="debugDatabaseFile" fileName="database.txt"
						layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="debugControllerFile" fileName="controllers.txt"
						layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	<!-- <target xsi:type="null" name="null" formatMessage="false" />  -->
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!-- <logger name="*" minlevel="Trace" writeTo="null" final="true" /> -->
		<logger name="CertificateAuthority" minlevel="Trace" writeTo="debugFile" final="true"/>
		<logger name="CertificateAuthority.Database.*" minlevel="Trace" writeTo="debugDatabaseFile" final="true"/>
		<logger name="CertificateAuthority.Controllers.*" minlevel="Trace" writeTo="debugControllerFile" final="true"/>
	</rules>
</nlog>