<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="defaultOutputFormat" value="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite:includeNamespace=false} ${message} ${exception:format=tostring}"/>

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="debugCa" archiveEvery="Day" archiveFileName="ca.{#}.txt" archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="30" fileName="ca.txt" layout="${defaultOutputFormat}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- <logger name="*" minlevel="Trace" writeTo="null" final="true" /> -->
    <logger name="CertificateAuthority.*" minlevel="Trace" writeTo="debugCa" final="true"/>
  </rules>
</nlog>